<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 ng-show="vm.isEdit">Edit {{ vm.currentProject.tab1.title }}</h1>
      <h1 ng-show="vm.isNew">Add New Project</h1>
    </div>
    <div class="col-sm-12 dashboard-section">
      <form class="form" name="form" ng-submit="vm.modifyDashboard(form)" novalidate>
        <button class="btn btn-default btn-primary" type="submit">Save changes</button>
        <p class="help-block"> {{ vm.message }} </p>
          <h3>Basics</h3>
          <label>Project Title</label>
          <input type="text" name="name" class="form-control" ng-model="vm.currentProject.tab1.title" required/>
          <!--<p class="help-block" ng-show="form.name.$error.required && vm.submitted">-->
          <!--  A name is required-->
          <!--</p>-->
          <label>Project Language</label>
          <input type="text" name="github" class="form-control" ng-model="vm.currentProject.tab1.language" />
          <label>Date Created</label>
          <input type="text" name="github" class="form-control" ng-model="vm.currentProject.tab1.dateCreated" />
          <label>Repository Link</label>
          <input type="text" name="github" class="form-control" ng-model="vm.currentProject.tab1.repoUrl" />
          <h3>Media</h3>
          <label>Image Link</label>
          <input type="text" name="github" class="form-control" ng-model="vm.currentProject.tab2.image1" />
          <label>Image Link</label>
          <input type="text" name="github" class="form-control" ng-model="vm.currentProject.tab3.image2" />
          <!--<label>Project Description</label>-->
          <!--<textarea name="desc" class="form-control" rows="4" ng-model="vm.user.desc"  />-->
      </form>
    </div>
    <div class="col-sm-6">
      <h4>Danger Zone</h4>
      <p>One-way ticket to Nullville</p>
      <a class="btn btn-default btn-danger" ng-click="vm.removeProject()">
        <span class="glyphicon glyphicon-trash"></span>Delete project</a>
    </div>
  </div>
</div>
