#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #313F54;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #313F54;
}

.navbar-text {
  margin-left: 15px;
}

.carousel {
      height: 500px;
      overflow-y: auto;
      background-color: #A2ABA5;
      
      img {
        max-height: 100%;
        max-width: 100%;
      }
      
      .carousel-inner {
        // padding-right: 25px;
      }
      
      .item {
        
      }
      
      .carousel-control {
        width: 60px;
        background-image: none;
        .glyphicon {
          background-color: #A2ABA5;
        }
      }
      .imagePane {
         max-height: 100%;
         position: relative;
      }
      
      .thumbnail {
        max-height: 100%;
      }
}